@import "type";
@import "bourbon/bourbon";


$color: #A0C55F;
$dark-color: #537508;

* {
   	@include box-sizing(border-box);
}

html {
	margin:	0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 700px;
	font-family: 'Aften Screen', sans-serif;
	font-size: 30px;
	background-color: #fcfcfc;
	color: #444;
}

img {
	max-width: 100%;
}



h1 {
	background: url(img/umbrella_twotone.svg) left top no-repeat;
	background-size: 200px 200px;
	font-weight: normal;
	font-style: italic;
	line-height: 1em;
	color: $color;
	font-size: 3em;

	padding-top: 230px;
	padding-bottom: 20px;
}

h2 {
	color: #888;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.6em;
	letter-spacing: 0.4em;
	margin: 6em auto 3em;
}

a {
	color: $color;
	text-decoration: none;
	display: inline-block;
	padding: 2px;
	background-color: transparent;
	&:hover {
		background-color: lighten($color, 38%);
	}
}

.hidden {
	display: none;
}

.copyright {
	color: #888;
	font-size: 0.6em;
	margin-top: 4em;
	padding-bottom: 2em;
}





