@font-face {
    font-family: 'Pictos';
    src: url('../fonts/pictos-web.woff') format('woff'),
         url('../fonts/pictos-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon,  .pictos {
    &:before {
        content: attr(data-icon);
        font-weight: normal !important;
        text-transform: none;
        text-rendering: optimizeLegibility;
    }
}

.icon, .pictos {
    &:before {
        font-family: "Pictos";
    }
}