<footer id="pagefooter">
    <div class="row">
    <a href="/colophon" class="avatar"><img src="/static/img/avatar_50.jpg" alt="Picture of Idan Gazit"></a>
    <h1>Hey, this is me.</h1>
    </div>
    <section class="about">
        <p>I make delightful things, mostly on the web.</p>
        <p>I tweet as <a href="http://twitter.com/intent/user?screen_name=idangazit" class="twitter">@idangazit</a> more frequently than I write here. You can learn <a href="/colophon">more</a> about me and my other activities, online and off. By day I'm building <a href="http://skillsapp.com">Skills</a>, a tool to help you make better sense of your technical candidates.</p>
        <p class="copyright"><a href="http://feeds.feedburner.com/idangazit">RSS</a> &middot; &copy; 2011 Idan Gazit &middot; All rights reserved.</p>
    </section>
</footer>
