---
layout: default
---


<article class="post-detail">
    <header>
        <p class="intro"><span class="icon" data-icon='@'></span> Have a seat and read</p>
        <div class="title">
            <h1>{{ page.title }}</h1>
            <p class="meta">
                a post by <em>{{ page.author }}</em> on <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
            </p>
        </div>
    </header>
    <section class="content">
        {{ content }}
    </section>
    <footer>
        <p class="intro"><span class="icon" data-icon='2'></span> You made it!</p>
        <div class="epigraph">
            <p>Congratulations. You read that like a boss.</p>
            <p class="feedback">Itching to say something? We don’t have comments yet, but you can shoot us <a href="mailto:hello@umbrella.io">an email</a> or <a href="http://twitter.com/intent/user?screen_name=umbrellaio" class="twitter">a tweet</a>. We’d love to hear from you!</p>
        </div>
    </footer>
</article>